html {
    height: 100%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    position: relative;
    min-height: 100%;
    background-color: #000000;
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
   
}



.nav {
    margin: 0px;
    background-color: black;
    text-align: right;
    
}
.headerLogo {
    height: 21px;
    width: auto;
    float: left;
    padding: 7px;
    margin: 7px;
}
li {
    display: inline-block;
     background-color: black;
     padding: 7px;
     margin: 7px;
     color: white;
     -moz-transition: all .1s ease-in;
     -o-transition: all .1s ease-in;
     -webkit-transition: all .1s ease-in;
     transition: all .1s ease-in;
     
 }
 
 li:hover {
     background-color: white;
     color: black;
 }
 
 ul {
     margin: 0px;
 }
 .catalog {
     display: block;
     align-content: center;
     padding: 7px;
     text-align: center;
     padding-bottom: 150px;
 }
 .album {
     margin-top: 100px;
 }
 .album p {
     color: white;
     margin: 20px;
     
     font-size: smaller;
 }
 .links img {
    margin: 25px;
    height: 35px;
    width: auto;
    margin-bottom: 0px;
    filter: grayscale(100%);
    transition: all 0.4s ease;
 }
 
 .links img:hover {
    filter: none;
 }

 
 
label {
    display: block;
    
    color: white;
    padding: 7px;
    margin: 10px;
    width: 90px;
       
    
}
form {
    display: table;
    margin: 80px auto;
    
}

button {
    margin: 17px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem;
    margin-top: 100px;
    left: 0;
    background-color: black;
    color: white;
    text-align: center; 
    font-size: smaller;
   }

   .album_details {
       max-width: 400px;
       text-align: justify;
       margin: auto;
       color: whitesmoke;
       padding-bottom: 50px;
 
   }
